[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
pillow = "*"
bcrypt = "*"
social-auth-app-django = "*"
python-jose = ">=3.0.0"
python-dotenv = "*"

[dev-packages]
pyopenssl = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.10"
